@use './variables' as *;

* {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$mobile-breakpoint: 375px;

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin mob {
	@media (max-width: $tablet-breakpoint) {
	  @content;
	}
  }

@mixin flex {
	display: flex;
}
