@use './variables' as *;

* {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }


$mobile-breakpoint: 320px;
$tablet-breakpoint: 426px;

$biggertablet-breakpoint: 426px;
$moretablet-breakpoint: 768px;



// $desktop-breakpoint: 1280px;
// Breakpoint between 320px and 425px
@mixin mob {
	@media (min-width: #{$mobile-breakpoint}) and (max-width: #{$tablet-breakpoint - 1px}) {
	  @content;
	}
  }

  @mixin tablet {
	@media (min-width: #{$biggertablet-breakpoint}) and (max-width: #{$moretablet-breakpoint - 1px}) {
	  @content;
	}
  }
  
@mixin gradient {
	background: linear-gradient(to right, #f32170, 
                    #ff6b08, #cf23cf, #eedd44); 
            -webkit-text-fill-color: transparent; 
			background-clip: text; 
}

@mixin styling {
	list-style: none;
}

@mixin decoration {
	text-decoration: none;
}

@mixin flex {
	display: flex;
}
